.home-page {
    width: 100%;
    --height-navbar: 80px;
    --height-percentage: 350px;
}

.percentage-container {
    position: absolute;
    top: var(--height-navbar);
    width: 100%;
    height:var(--height-percentage);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.percentage-container > h2 {
    text-align: center;
    font-family: 'Jetbrains mono', Arial, Helvetica, sans-serif;
}

.percentage-container .number-percentage {
    margin-top: 20px;
}

.percentage-container .number-percentage h2 {
    font-size: 120px;
    color: rebeccapurple;
}

.task-list {
    position: absolute;
    top: calc(var(--height-navbar) + var(--height-percentage));
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.no-showed {
    display: none;
}

.add-button {
    position: sticky;
    top: 100px;
    cursor: pointer;
}