.homePage {
    background-color: #212121;
    width: 100%;
    height: 100vh;
}

.taskList {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}