.taskContainer {
    width: 80%;
    min-height: 65px;
    display: grid;
    grid-template-columns: 70% 30%;
    background: rgba(93,105,107,1);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 8px 5px;    
}

.info .taskTitle {
    width: 100%;
    margin-bottom: 10px;
}

.info .taskTitle h2{
    color: #eee;
    font-size: 35px;
}

.info .taskStatus, .info .taskDate {
    width: 100%;
    padding: 0 5px;
}

.icons {
    display: grid;
    justify-content: right;
    align-items: center;
    padding: 10px 10px 0 0;
    height: 100%;
}

.icons .displayButton {
    text-align: end;
}